@import 'src/assets/styles/_colors.scss';

.images-stats {
  height: 40px;
  margin: 0px !important;
  padding: 0px;
  .images-count {
    padding: 0px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.5px;
    text-align: left;
    color: $input_placeholder;
  }
  .images-reorder {
    font-size: 16px;
    color: $text_label;
    text-align: right;
    .switch {
      margin-left: 10px;
      vertical-align: middle;
      display: inline-block;
    }
  }
}

.property-images {
  margin-top: 30px;
  margin-bottom: 10px;
  .row-container {
    margin-left: 0;

    .upload-images-container {
      margin-top: 40px;
      height: 340px;

      .new-listing-upload-images-title {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.5px;
        text-align: center;
        color: #354052;
      }

      .upload-images {
        margin-top: 20px;
      }

      .upload-images-label {
        margin-top: 20px;
        font-size: 12px;
        color: #7f8fa4;
      }
    }
  }
  .upload-images-link {
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.4px;
    color: #279bf3;
    text-decoration: underline;
    border: 1px dashed grey;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    cursor: pointer;
  }
}
.images-row {
  margin: -7px;
  padding-right: 10px;
}
.property-image-sortable {
  height: 130px;
  margin: 10px 0 10px 0;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
  cursor: pointer;
  .delete-button {
    border: 3px solid white;
    border-radius: 50%;
    float: right;
    bottom: 0px;
    margin-top: 106px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin-right: -9px;
  }
}
.draggable-image {
  cursor: move;
  &:hover {
    -webkit-box-shadow: inset 0px 0px 0px 5px $primary;
    -moz-box-shadow: inset 0px 0px 0px 5px $primary;
    box-shadow: inset 0px 0px 0px 5px $primary;
  }
}

.upload-btn {
  width: 100%;
  margin-top: 30px;
}
