.popup-container {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #eff3f6;

  .popup-close {
    position: absolute;
    border-radius: 50%;
    right: 0;
    margin: 50px;
    width: 52px;
    height: 52px;
    background: #fff;
    cursor: pointer;
    text-align: center;
    .close-btn {
      font-size: 39px;
      margin-top: 8px;
      color: red;
    }
  }

  .popup-container-content {
    margin-top: 150px;
  }
}
